<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<br>
<div class="container bootdey">
<div class="email-app">
    <!-- <nav>
        <a href="#" class="btn btn-danger btn-block">New Email</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">4</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-star"></i> Stared</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-rocket"></i> Sent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-trash-o"></i> Trash</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-bookmark"></i> Important</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">4</span></a>
            </li>
        </ul>
    </nav> -->
    <main>
        <p class="text-center">New Message</p>
        <form #filterForm='ngForm'>
            <div class="form-row mb-3">
                <label for="to" class="col-2 col-sm-1 col-form-label">To:</label>
                <div class="col-10 col-sm-11">
                    <input type="email" ngModel name="msend" class="form-control" id="to" placeholder="Enter Email">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="input-append btn-group">
                    <input class="span2" id="appendedInputButton" size="16" type="text">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><i class="icon-pencil"></i> Edit</li>
                        <li><i class="icon-trash"></i> Delete</li>
                        <li><i class="icon-ban-circle"></i> Ban</li>
                        <li class="divider"></li>
                        <li><i class="i"></i> Make admin</li>
                    </ul>
                </div>
            </div>

            <a href="#" class="btn btn-danger btn-block style=color">Send Email</a>
        </form>

    </main>
</div>
</div>