<nav aria-label="breadcrumb" class="m-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/createEmailTemplate">Home</a></li>
    <li class="breadcrumb-item active">Library</li>
  </ol>
</nav>

<form #filterForm='ngForm'   class="m-4">
    <div class="row">
        <div class="col">
            <label for="">Email Template Name<span></span></label>
          <input type="text" ngModel name="tname" class="form-control" placeholder="Enter Template Name" aria-label="Enter Template Name">
        </div>
        <div class="col">
            <label for="">Email Template Code<span></span></label>
          <input type="text" ngModel name="tcode" class="form-control" placeholder="Enter Template Code" aria-label="Enter Template Code">
        </div>
        <div class="col">
            <label for="">Status<span></span></label>
          <input type="text" ngModel name="status" class="form-control" placeholder="Enter Template Code" aria-label="Enter Template Code">
        </div>
    </div>
    <div class="btnn"  >
      <button class="btn btn-primary btnn" (click)="filterSearch(filterForm.value)">Search</button>
      <button class="btn btn-primary btnn" (click)="filterForm.resetForm();filterSearch(filterForm.value)">Reset</button>
    </div>   
  </form>



<div class="table" >

  <table border="2" [width]="100" >
    
    <thead>
      <tr style="text-align: center;" class="table-active">
        <th scope="col">Sr No</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Tier</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let data of templateData | paginate:{
      itemsPerPage:itemsPerPage ,
      currentPage : currentPage,
      totalItems : totalItems,
      

    }  ;let i = index "  >
      <tr style="text-align: center;">
        
        <td >{{templateData.indexOf(data)+1}}</td>
        <td>{{data.templateName}}</td>
        <td>{{data.templateCode}}</td>
        <td>{{data.tier}}</td>
        <td>
          <div class="form-check" routerLink="{{data.id}}">
            <i class="fas fa-edit" style="color: #000000;"></i>     
                 </div>
      </td>
      </tr>

    </tbody>
  </table>
  <br>
  <div class="sticky-bottom d-flex justify-content-center align-items-center">
    <pagination-controls (pageChange)="onPageChange($event)" screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"
    >
    </pagination-controls>
  </div>
<!-- <span>{{templateData.length}}</span> -->

</div>
<div *ngIf="!(data && data.length > 0)"></div>





 



 

      
