<div class="m-4">
    <div class="row">
        <div class="col">
            <label for="">Email Template Name<span></span></label>
          <input type="text" class="form-control" placeholder="Enter Template Name" aria-label="Enter Template Name">
        </div>
        <div class="col">
            <label for="">Email Template Code<span></span></label>
          <input type="text" class="form-control" placeholder="Enter Template Code" aria-label="Enter Template Code">
        </div>
        <div class="col">
            <label for="">Status<span></span></label>
          <input type="text" class="form-control" placeholder="Enter Template Code" aria-label="Enter Template Code">
        </div>
    </div>
    <div class="btn"  >
      
        <button class="btn btn-primary"  >Search</button>
        <button class="btn btn-primary" >Reset</button>

        
    </div>
    </div>
    <div class="table">
    <table class="table  table-bordered" >
      <thead>
        <tr class="table-active">
          <th scope="col">Sr No</th>
          <th scope="col">Name</th>
          <th scope="col">Code</th>
          <th scope="col">Tier</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <div class="form-check">
              <i class="fas fa-edit" style="color: #000000;"></i>     
                   </div>
        </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>          
            <div class="form-check">
              <i class="fas fa-edit" style="color: #000000;"></i>     
            </div>
        </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>
            <div class="form-check">
              <i class="fas fa-edit" style="color: #000000;"></i>     
            </div>
        </td>
        </tr>
      </tbody>
    </table>
  </div>

 



 

      
